<footer class="footer" id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="footer-copyright">
                    This is something you should see <a href="https://google.com">more text dawg</a>.
                </div>
            </div>
        </div>
    </div>
</footer>