<footer class="footer" id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="footer-copyright">
                  {{#get "posts" include="tags,author"}}
                    {{#foreach posts}}
                        {{title}}
                    {{/foreach}}
                  {{/get}}
                </div>
            </div>
        </div>
    </div>
</footer>
