<footer class="footer" id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="footer-copyright">
                  {{#get "tags" limit="all"}}{{tags}}{{/get}}
                  <span class="test-text">This is some shit...</span>
                </div>
            </div>
        </div>
    </div>
</footer>
